
*{
    margin: 2px;
}
.box1{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: rgba(162, 161, 161, 0.477);
}
.poster{
    
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 2;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    height: 400px;
    width: 380px;
}
h1{
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rating{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: large;
}
.bookingButton{
    background-color: rgba(67, 67, 254, 0.463);
    height: 35px;
    width: 110px;
    border-radius: 2px;
    margin-bottom: 20px;
}
.bookingButton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.604);
}
